* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Calibri', 'Open Sans', 'sans-serif';
    background-color: #f7f2fa;
    font-size: 1.2em;

}

h1, h2 {
    font-family: 'Muli', sans-serif;
}

h1 {
    background-color: #8b02b5;
    padding: 0.7em;
    font-size:1.6em;
}

h2 {
    font-size:1.2em;
    padding-block-start: 2em;
}

section {
    text-align: center;
}

nav {
    background-color: #8b02b5;
    font-family: 'Muli', sans-serif;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-size: 1.2em;
    height: 1.8em;
    align-items: center;
    justify-content: space-between;
    padding: 0.4em;
}


nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: .65em 3em;
}

header {
    text-align: center;
}

footer {
    background-color:#8b02b5;
    height: 2em;
}

a {
    display: block;
    padding-block-start: 2em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

p {
    padding-block-end: 2em;
}