<h2><i>Login</i></h2>

    <br />
<main>
    <form method="POST" action='@Url.Action("Login", "Cliente")'>
        <div>
            <label for="email">E-mail:</label>
            <br />
            <input id="email" type="text" maxlength="30" minlength="3" name="email" />
        </div>

        <br />

        <div>
            <label for="senha">Senha:</label>
            <br />
            <input id="senha" type="password" maxlength="30" minlength="3" name="senha" />
        </div>

        <div class="entrar">
        <input type="submit" value="Entrar" />
        </div>

        <p>OU</p>

        <br />

        <div id="Link-cadastro">
            <a href='@Url.Action("Index", "Cadastro")'>Cadastre-se</a>
        </div>

    </form>
</main>