<h2><i>Galeria</i></h2>

    <br />

<main>
        <section id="galeria">
            <div class="section-container">
                <div class="flex-group fotos-section">
                    
                    <div class="fotos-container">
                        <p><b>Aniversários</b></p>
                    </div>
    
                    <div class="fotos-container">
                        <img src="/img/aniversário.png" style="width: 10em" alt="festa de aniversário" title="festa de aniversário"/>
                        <img src="/img/aniversário 2.png" style="width: 10em" alt="festa de aniversário" title="festa de aniversário"/>
                        <img src="/img/aniversário 3.png" style="width: 10em" alt="festa de aniversário" title="festa de aniversário"/>
                    </div>
            
            <br />
    
                    <div class="fotos-container">
                        <p><b>Casamentos</b></p> <br />
                    </div>
                    
                    <div class="fotos-container">
                        <img src="/img/casamento.png" style="width: 10em" alt="casamento" title="casamento"/>
                        <img src="/img/casamento2.png" style="width: 10em" alt="casamento" title="casamento"/>
                        <img src="/img/casamento 3.png" style="width: 10em" alt="casamento" title="casamento"/>
                    </div>
            
            <br />
        
                    <div class="fotos-container">
                        <p><b>Debutante</b></p>
                    </div>
                    
                    <div class="fotos-container">
                        <img src="/img/15.png" style="width: 10em" alt="festa de debutante" title="festa de debutante"/>
                        <img src="/img/15 2.png" style="width: 10em" alt="festa de debutante" title="festa de debutante"/>
                        <img src="/img/15 3.png" style="width: 10em" alt="festa de debutante" title="festa de debutante"/>
                    </div>
    
            <br />
    
                    <div class="fotos-container">
                        <p><b>Shows</b></p>
                    </div>
                    
                    <div class="fotos-container">
                        <img src="/img/show.png" style="width: 10em" alt="show" title="show"/>
                        <img src="/img/show 2.png" style="width: 10em" alt="show" title="show"/>
                        <img src="/img/show 3.png" style="width: 10em" alt="show" title="show"/>
                    </div>
        
        </section>
</main>

<br />

<a href="#">Voltar para o topo!</a>

<br />