<br />

    <h2><i>Contato</i></h2>

<br />    
    <main>
        <div class="contato">
        <p><b>Contate-nos por e-mail, telefone ou via whatsapp:</b></p>

        <br />

        <p><strong>E-mail:</strong> rolêtop@email.com</p>
        <p><strong>Telefone:</strong> 1234-5678 </p>
        <p><strong>Whatsapp:</strong> 91234-5678</p>
        </div>
        
    </main>

    <br />

    <div class="faq-e-chat">
        <a href="FAQ">FAQ</a>
        <a href="Chat online">Chat online</a>
    </div>

    <footer>

    </footer>