<h2><i>Contato</i></h2>

<br />    

<main>
    <div class="contato">
    <p><b>Contate-nos por e-mail, telefone ou via whatsapp:</b></p>

    <br />

    <p><strong>E-mail:</strong> rolêtop@email.com</p> <br />
    <p><strong>Telefone:</strong>11 1234-5678 </p>    <br />
    <p><strong>Whatsapp:</strong>11 91234-5678</p>    <br />
    </div>
</main>