<a asp-controller="Home" asp-action="Index">Voltar</a>

        <br />

        <h2><i>Estrutura do local</i></h2>

        <br />

        <main>

            <section id="estrutura">

                <div class="estrutura-container">
                    <p>
                        <strong>Tamanho: 150 x 40m <br />
                            Banheiro social feminino<br />
                            Banheiro social masculino<br />
                            Banheiro para deficiente<br />
                            Infraestrutura para palco<br />
                            Camarim<br />
                        </strong>
                    </p>
                </div>
        </main>

        <h3><i>Planta baixa do local</i></h3>
        <div class="estrutura-container">
                <div class="planta">
                    <img src="/img/planta_baixa.jpg" style="width:22em" alt="planta" title="planta" />
                </div>
            </div>
        </section>
    
        <br />

        <footer>
            
        </footer>