<h2><i>Estrutura do local</i></h2>

        <br />

        <main>

            <section id="estrutura">

                <div class="estrutura-container">
                    <p>
                        <strong>Tamanho: 150 x 40m <br /> <br />
                            Banheiro social feminino<br /> <br />
                            Banheiro social masculino<br /> <br />
                            Banheiro para deficiente<br /> <br />
                            Infraestrutura para palco<br /> <br />
                            Camarim<br /> <br />
                        </strong>
                    </p>
                </div>
        </main>

        <div class="estrutura-container">
                <div class="planta">
                    <img src="/img/planta_baixa.jpg" style="width:22em" alt="planta" title="planta" />
                </div>
            </div>
        </section>