* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Calibri', 'Open Sans', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Fredoka One', cursive;
}

h1{
    display: none;
}

/***********************************************
                SECTIONS - INICIO
************************************************/

section {
    text-align: center;
}

section h2 {
    padding: 20px 0;
}

section > a {
    text-decoration: none;
}

.section-container {
    max-width: 1366px;
    margin: 0 auto;

}
/************************************************
                SECTIONS - FIM
*************************************************/


/*******************************************************************************
                                NAV - INICIO
*******************************************************************************/

nav {
    background-color: #ff9933;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-size: 1.3em;
    height: 2.5em;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #361a0c;
    font-weight: bold;
    padding: .65em 3em;
}

nav ul li:last-child {
    font-family: 'Fredoka One', cursive;
}

nav a:hover {
    background-color: #a70000;
    color: #fff;
    box-shadow: 02px #800000;
    border-top: 5px solid aqua
}
/*******************************************************************************
                               NAV - FIM
*******************************************************************************/
#logo-area {
    background-image: url(img/fundo_logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
}

#logo {
    height:20%;
    width: 20%;
}

#hamburgueres {
    background-color: #361a0c
}

.grupo-flex{
    display: flex;
}

.grupo-flex.sessao-alimentos {
    justify-content: space-evenly;
    color: #a70000;
    align-items: center;
    font-family: 'Fredoka One', cursive;
}

.grupo-flex.sessao-alimentos > div {
    background-color: #ff9933;
}

.grupo-flex.sessao-alimentos > div > p:nth-child(odd){
    font-weight: bold;
    height: 1.5em;
}

.grupo-flex.sessao-alimentos > div > p:nth-child(even){
    font-size: 5em;
    margin-top: -0.5em;
    text-shadow: -3px -3px 0 #ff9933,
                 3px -3px 0 #ff9933,
                -3px 3px 0 #ff9933,
                 3px 3px #ff9933;
}