@{
    var nomeView = (string) ViewData["NomeView"];
}<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Rolê Top</title>
    <link rel="stylesheet" type="text/css" href="~/css/rolê top style.css"/>
</head>
<body>
    <header>
        <div id="logo-area">
            <img id="logo" src="img/logo.png" alt="Rolê Top" title="logo"/>
            <hgroup>
                <h1>Rolê Top</h1>
            </hgroup>
        </div>
        <nav>
            
            <div class="section-container">
                <ul>
                    <li><a href="rolê top index.html">Início</a></li>
                    <li><a href="galeria rolê top.html#galeria">Galeria</a></li>
                    <li><a href="contato rolê top.html#contato">Contato</a></li>
                    <li><a href="login rolê top.html#login">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
    @RenderBody()
    <section id="local">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8869961505543!2d-46.648477085071065!3d-23.53656648469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda+Bar%C3%A3o+de+Limeira%2C+539+-+Campos+El%C3%ADseos%2C+S%C3%A3o+Paulo+-+SP%2C+01202-001!5e0!3m2!1sen!2sbr!4v1550223658410" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>

        <address>
                Avenida de Limeira, 539 - Campos Elíseos - SP
        </address>
        
            <a href="#">Voltar para o topo!</a> 

            <br />

            <div class="faq-e-chat">
            <a href="FAQ">FAQ</a>
            <a href="Chat online">Chat online</a>
            </div>

        <footer>
            
        </footer>
</body>
</html>