* {
    margin: 0;
    padding: 0;
}

/************************LOGO - INÃCIO***************************/
#logo-area {
    background-image: url(img/fundo_logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #503c96;
    text-align: center;
    padding: 5px;
}

#logo {
    height:10%;
    width: 10%;
}

/**************************LOGO - FIM****************************/

body {
    font-family: 'Calibri', 'Open Sans', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

main {
    font-size: 1.2em;
}

section {
    text-align: center;
}

h1{
    display: none;
}

h2 {
    padding: 1em;
    color: #503c96;
}

#voltar {
    text-align: left;
    font-size: 1.2em;
}

form * {
    margin: 8px 0;
    text-align: center;
    overflow: hidden;
    font-size: 1em;
}


form input, form select {
    width: 20%;
    height: 23px;
    border-color: #000000;
    text-align: left;
    padding: 0 2px;
    border-radius: 3em;
} 

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    list-style-type: none;
}

.cancelar-e-enviar > a {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}

@media (max-width: 625px) {
    main {
        width: 90%;
    }
}