* {
    margin: 0;
    padding: 0;
}

/************************LOGO - INÍCIO***************************/
#logo-area {
    background-image: url(img/fundo_logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #503c96;
    text-align: center;
    padding: 5px;
}

#logo {
    height:10%;
    width: 10%;
}
/**************************LOGO - FIM****************************/

body {
    font-family: 'Calibri', 'Open Sans', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

main {
    padding: 1em;
    font-size: 1.2em;
}

section {
    text-align: center;
}

h1{
    display: none;
}

h2 {
    padding: 1em;
    color: #503c96;
}

h3 {
    padding: 1.3em;
}

li {
    margin: 1em;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    list-style-type: none;
}

#voltar {
    text-align: left;
    font-size: 1.2em;
}

.nome-e-foto-do-cliente {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    background-color: #ffffff;
    justify-content: flex-end;
}

.nome-e-foto-do-cliente > p {
    font-size: 1.2em;
    padding: 0.5em;
}

.serviço-adicional {
    padding: 1em;
}

form * {
    margin: 5px 0;
    text-align: center;
    overflow: hidden;
}

form input, form select {
    width: 10%;
    height: 20px;
    border-color: #000000;
    text-align: left;
    padding: 0 2px;
    border-radius: 3em;
}  

.cancelar-e-confirmar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 1em;
}

textarea {
    width: 15%;
}

@media (max-width: 625px) {
    main {
        width: 90%;
    }
}