    <main>
            <section id="banner">
                <div class="section-container">
                    <div class="flex-group banner-section">
                        <div class="banner-container">
                            <img src="img/eventos-tela inicial.jpg" style="width: 11em" alt="eventos" title="eventos"/>
                </div>
                
            <div class="banner-container">
                <p>
                <strong>Agende seu evento <br />
                            fazendo o login ou<br />
                            cadastre-se
                </strong> 
                </p>
            </div>
            </section>

            <section id="calendário">
                <img src="img/calendário1.jpg" alt="calendário" title="calendário"/>
            </section>


            
            <div class="sobre-e-estrutura">
                <a href="sobre rolê top.html#sobre nós">Sobre nós</a>  
            
                    <br />

                <a href="estrutura rolê top.html#estrutura do local">Estrutura do local</a>
            </div>         
        </main>