* {
    margin: 0;
    padding: 0;
}

/**********************LOGO - INÃCIO****************************/
#logo-area {
    background-image: url(img/fundo_logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #503c96;
    text-align: center;
    padding: 5px;
}

#logo {
    height:10%;
    width: 10%;
}
/************************LOGO - FIM*******************************/

body {
    font-family: 'Calibri', 'Open Sans', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    height: 50%;
}

main {
    width: 100%;
}

#painel {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 1.5em;
}

h3 {
    padding: 0.5em 0;
    font-size: 1.3em;
    color: #000000;
    text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
   -1px  1px 0 #fff,
    1px  1px 0 #fff;
}

h4 {
    font-size: 1em;
}

.box-status-eventos {
    width: 30%;
    padding-top: .5em;
    text-align: center;
}
.box-status-eventos > p {
    font-size: 2em;
    padding: 0.5em 0 0 0;
}

.box-status-eventos-reprovados {
    background-color: #a70000;
}

.box-status-eventos-aprovados {
    background-color: #669100;
}

.box-status-eventos-pendentes {
    background-color: #ff9933;
}

table {
    text-align: center;
    color: #000000;
    border: 1px dashed #503c96;
    width: 100%;
    padding: 5px;
    word-break: normal;
}

table th {
    background-color:#503c96;
}

table a {
    text-decoration: none;
    color: #000000;
}

table a:hover {
    text-decoration: underline;
}

tfoot td {
    text-align: center;
    color: #000000;
    background-color: #503c96;
}

thead > tr:first-child > th:last-child {
    padding: 0 .5em;
}

@media (max-width: 625px) {

    #logo{
        width: 25%;
    }

    main {
        width: 90%;
    }

    h4 {
        font-size: 1em;
    }
}