* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Calibri', 'Open Sans', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

h1{
    display: none;
}

section {
    text-align: center;
}

h2 {
    padding: 1em;
    color: #503c96;
}

#voltar {
    text-align: left;
    font-size: 1.2em;
}

main {
    font-size: 1.2em;
}

form input[type="submit"] {
    font-size: 0.8em;
    background-color: #503c96;
    border: 1px solid #503c96;
    color: #f5f5f5;
    margin: 20px 0;
    height: 2em;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
}

/******************************************************************
                            LOGO - INÃCIO
******************************************************************/

#logo-area {
    background-image: url(img/fundo_logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #503c96;
    text-align: center;
    padding: 5px;
}

#logo {
    height:10%;
    width: 10%;
}

/******************************************************************
                            LOGO - FIM
******************************************************************/

form * {
    margin: 8px 0;
    text-align: center;
    overflow: hidden;
    font-size: 1em;
}


form input, form select {
    width: 15%;
    height: 23px;
    text-align: left;
    padding: 0 2px;
    border-radius: 3px;
} 

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    list-style-type: none;
}

.cancelar-e-enviar > a {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}

@media (max-width: 625px) {
    main {
        width: 90%;
    }
}
