
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Calibri', 'Open Sans', sans-serif;
    text-align: center;
    background-color: #BE3966;
}

h1{
    display: none;
}

section {
    text-align: center;
}


h2{
    padding: 1em;
}

h3 {
    padding: 1.3em;
}

main {
    background-color: #c8c1b5;
    padding: 1em;
    font-size: 1.4em;
}


footer {
    background-color: #eaa93d;
    height: 3em;
}

a {
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    padding-block-start: 1em;
}
/******************************************************************
                            LOGO - INÍCIO
******************************************************************/

#logo-area {
    background-image: url(img/fundo_logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10px;
}

#logo {
    height:20%;
    width: 15%;
}

/******************************************************************
                            LOGO - FIM
******************************************************************/
nav #bt-mobile-menu {
    display: none;
}

@media (max-width: 625px) {
    main {
        width: 90%;
    }
}